<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col s12 l6" *ngFor="let user of _usersArray">
      <div class="card">
        <div class="card-id">
          ID: {{user.id}}
        </div>
        <div class="doctor-profile-image">
            <img src="assets/img/doctor_profile.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4" style="font-weight: 600;">{{user.name}}<i class="right show-tasks">show tasks</i></span>
          <table>
            <tr>
              <td style="font-weight: 600;">Username: </td>
              <td>{{user.username}}</td>
            </tr>
            <tr>
              <td style="font-weight: 600;">E-mail: </td>
              <td>{{user.email}}</td>
            </tr>
          </table>
          <div class="card-address">Address:</div>
          <table>
            <tr>
              <td style="font-weight: 600;">Street: </td>
              <td>{{user.address.street}}</td>
              <td style="font-weight: 600;">Suite: </td>
              <td>{{user.address.suite}}</td>
            </tr>
            <tr>
              <td style="font-weight: 600;">City: </td>
              <td>{{user.address.city}}</td>
              <td style="font-weight: 600;">ZIP code: </td>
              <td>{{user.address.zipcode}}</td>
            </tr>
            <tr>
              <td style="font-weight: 600;">Lat: </td>
              <td>{{user.address.geo.lat}}</td>
              <td style="font-weight: 600;">Lng: </td>
              <td>{{user.address.geo.lat}}</td>
            </tr>
          </table>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Tasks for {{user.name}}<i class="right material-icons">arrow_drop_down</i></span>
          <table>
            <thead class="thead-inverse">
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Completed</th>
              </tr>
            </thead>
            <tbody *ngFor="let task of _tasksArray">
              <tr *ngIf="task.userId == user.id">
                <td>{{task.id}}</td>
                <td>{{task.title}}</td>
                <td *ngIf="task.completed == true"><i class="material-icons task-completed">check</i></td>
                <td *ngIf="task.completed == false"><i class="material-icons task-completed">close</i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>